@model MetalPriceViewModel
@{
    Layout = null;
}

<p>Success : @Model.success</p>
<p>BaeCurrency: @Model.baseCurrency</p>
<p>Unit: @Model.unit</p>
<p>Rates: @Model.rates.XAU - @Model.rates.XAG - @Model.rates.PA - @Model.rates.PL - @Model.rates.GBT - @Model.rates.EUR</p>